/* Imports */
@import url(https://fonts.bunny.net/css?family=almarai:300,400,700,800);
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Root & Main */
:root {
    
    /* Colors */
    --dark-blue: #0a0c19; /* var(--dark-blue) */
    --less-dark-blue: #161a36; /* var(--dark-blue) */
    --blue-white: #d8e6fc; /* var(--blue-white) */
    --black: #000000; /* var(--black) */
    --grey: #141313; /* var(--grey) */
    --light-grey: #34373D; /* var(--light-grey) */
    --lighter-grey: #434343; /* var(--lighter-grey) */
	--lightest-grey: #aaa7a7; /* var(lightest-grey) */
    --blue-grey: #17181C; /* var(--blue-grey) */
    --blue-grey-2: #1E1F25; /* var(--blue-grey-2) */
    --blue: blue; /* var(--blue) */
    --white: #ffffff; /* var(--white) */
    --dark-red: #4b1317; /* var(--dark-red) */
    --maroon: #800000; /* var(--maroon) */

    /* Fonts */
    --text-fonts: 'OpenDyslexic', 'Atkinson Hyperlegible', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

* {
    font-family: var(--text-fonts);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--blue-grey);
}

/* Nav Header */

.nav-header .logo {
    color: var(--white);
    display: flex;
    height: 64px;
    min-width: 260px;
    max-width: 400px;
    margin-left: -9px;
    padding-left: -20px;
    align-items: center;
    pointer-events: none;
}

.nav-header .logo span {
    font-size: 1.35rem;
}

.nav-header {
    position: fixed;
    display: flex;
    z-index: 2;
    width: 100%;
    height: 64px;
    padding-left: 1.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue-grey);
    text-align: center;
    border-bottom: solid 2px #40454C;
}

/* Sidebar Top */

.sidebar-top {
    display: flex;
    justify-content: space-between;
	align-items: center;
    flex-direction: row-reverse;
    border-bottom: solid 1px #40454C;
    a {
        text-decoration: none;
        color: var(--white);
    }
}

.sidebar-top .sidebar-home {
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--blue-grey);
    font-size: 17px;
    padding: 10px;
    width: 114px;
    height: 50px;
    i {
        font-size: 20px;
        margin-right: 8px;
        margin-left: 6px;
        margin-bottom: 4px;
    }
}

.sidebar-home:hover {
    background-color: var(--blue-grey-2);
    cursor: pointer;
}

#btn {
    color:#ffffff;
    font-size: 30px;
    padding: 10px;
    height: 50px;
    text-align: right;
    display: flex;
    background-color: var(--blue-grey);
    /* border-right: solid 1px #40454C; */
    cursor: pointer;
}

#btn:hover {
	background-color: var(--blue-grey-2);
}


/* Sidebar */

.sidebar {
    position: fixed;
    display: flex;
    z-index: 2;
    flex-direction: column;
    left: 0;
    top: 64px;
    height: calc(100% - 64px);
    width: 260px;
    border-right: solid 2px #40454C;
    background-color: var(--blue-grey);
    color: var(--white);
    transition: all .25s ease;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 257px;
    line-height: 50px;
}

.sidebar ul li a {
    color: var(--white);
    display: flex;
    text-decoration: none;
    align-items: center;
    overflow-y: scroll;
}

.sidebar ul li a:hover {
    background-color: var(--blue-grey-2);
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 8px;
    line-height: 50px;
    font-size: 1.4rem;
}

.sidebar-important, .sidebar-information, .sidebar-bookmarks, .sidebar-end {
    border-color: var(--light-grey);
    border-style: solid;
    border-right: hidden;
    border-left: hidden;
    border-bottom: solid .5px #40454C;
    border-top: solid .5px #40454C;
    border-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sidebar-credits {
    border-bottom: hidden;
	width: auto;
}

.sidebar.active {
    position: fixed;
    display: flex;
    top: 64px;
    left: 0;
    height: 50px;
    width: calc(114px + 51px);
    background: none;
    border: hidden;
    z-index: 2;
    color: var(--white);
    .scrollbox {
        display: none;
    }
	.scrollbox-inner {
		visibility: hidden;
	}
	#btn {
		border-bottom-right-radius: 15px;
        border-bottom: solid 2px #40454C;
        border-right: solid 2px #40454C;
    }
    .sidebar-home {
        border-bottom: solid 2px #40454C;
    }
    .sidebar-top {
        border-bottom: hidden;
    }
}

/* Scrollbox */

.scrollbox {
    overflow: scroll;
    z-index: 2;
    visibility: visible;
}

.scrollbox-inner {
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: visible;
}

::-webkit-scrollbar {
    z-index: 2;
    width: 2px;
    overflow: scroll;
}

::-webkit-scrollbar-thumb {
    z-index: 2;
    color: var(--lighter-grey);
    border-right: solid;
    border-radius: 10px;
}


/* Content */

.contents {
    position: relative;
    display: flex;
    z-index: 1;
    top: 118px;
    left: 10px;
    right: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 110px);
    padding: 8px;
    font-size: 18px;
    color: var(--white);
    border-radius: 15px;
}

.contents-info {
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 118px;
    left: 10px;
    right: 20px;
    width: 100%;
    height: auto;
    padding: 8px;
    color: var(--white);
    background-color: var(--dark-red);
    border: dashed 2px var(--maroon);
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    
}