/* Imports Start */
@import url(https://fonts.bunny.net/css?family=almarai:300,400,700,800);
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Imports Stop */

/* Root & Main Start */
:root {
    
    /* Colors Start */
    --black: #000000; /* var(--black) */
    --blue-grey: #1E1F25; /* var(--blue-grey) */
    --dark-blue-grey: #17181C; /* var(--dark-blue-grey) */
    --dark-maroon: #4b1317; /* var(--dark-maroon) */
    --line-grey: #40454C; /* var(--line-grey) */ 
    --maroon: #800000; /* var(--maroon) */
    --white: #ffffff; /* var(--white) */
    /* Colors Stop */

    /* Fonts Start */
    --text-fonts: 'OpenDyslexic', 'Atkinson Hyperlegible', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    /* Fonts Stop */
}

* {
    box-sizing: border-box;
    font-family: var(--text-fonts);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-blue-grey);
}
/* Root & Main Stop */

/* Navigation Header Start */
.navigation-header {
    background-color: var(--dark-blue-grey);
    border-bottom: solid 2px var(--line-grey);
    bottom: 0;
    display: flex;
    height: 64px;
    left: 0;
    padding-left: 1.5rem;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navigation-header-logo {
    align-items: center;
    color: var(--white);
    display: flex;
    height: 64px;
    margin-left: -9px;
    max-width: 400px;
    min-width: 260px;
    padding-left: -20px;
    pointer-events: none;
}

.navigation-header-logo span {
    font-size: 1.35rem;
}
/* Navigation Header Stop */

/* Navigation Bar Priority Start */
.navigation-bar-priority {
	align-items: center;
    border-bottom: solid 1px var(--line-grey);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.navigation-bar-priority a {
    color: var(--white);
    text-decoration: none;
}

.navigation-bar-home {
    align-items: center;
    background-color: var(--dark-blue-grey);
    color: var(--white);
    display: flex;
    flex-direction: row;
    font-size: 17px;
    height: 50px;
    padding: 10px;
    width: 114px;
}

.navigation-bar-home i {
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 8px;
}

.navigation-bar-home:hover {
    background-color: var(--blue-grey);
    cursor: pointer;
}

#menu-btn {
    background-color: var(--dark-blue-grey);
    color:#ffffff;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    padding: 10px;
    text-align: right;
}

#menu-btn:hover {
	background-color: var(--blue-grey);
}
/* Navigation Bar Priority Stop */


/* Navigation Bar Start */
.navigation-bar {
    background-color: var(--dark-blue-grey);
    border-right: solid 2px var(--line-grey);
    color: var(--white);
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
    left: 0;
    position: fixed;
    top: 64px;
    transition: all .25s ease;
    width: 260px;
    z-index: 2;
}

.navigation-bar ul li {
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    position: relative;
    width: 257px;
}

.navigation-bar ul li a {
    align-items: center;
    color: var(--white);
    display: flex;
    overflow-y: scroll;
    text-decoration: none;
}

.navigation-bar ul li a:hover {
    background-color: var(--blue-grey);
}

.navigation-bar ul li a i {
    border-radius: 8px;
    font-size: 1.4rem;
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    text-align: center;
}

.navigation-bar-item {
    width: 100%;
}

.navigation-bar-section-important-tabs, .navigation-bar-section-docs-tabs {
    border-bottom: solid .5px var(--line-grey);
    border-left: hidden;
    border-right: hidden;
    border-top: solid .5px var(--line-grey);
    border-width: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navigation-bar-section-other-tabs {
    border-left: hidden;
    border-right: hidden;
    border-top: solid .5px var(--line-grey);
    border-bottom: hidden;
    border-width: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navigation-bar.active {
    background: none;
    border: hidden;
    color: var(--white);
    display: flex;
    height: 50px;
    left: 0;
    position: fixed;
    top: 64px;
    width: calc(114px + 51px);
    z-index: 2;
    .scrollbox {
        display: none;
    }
	.scrollbox-inner {
		visibility: hidden;
	}
	#menu-btn {
		border-bottom-right-radius: 15px;
        border-bottom: solid 2px var(--line-grey);
        border-right: solid 2px var(--line-grey);
    }
    .navigation-bar-home {
        border-bottom: solid 2px var(--line-grey);
    }
    .navigation-bar-priority {
        border-bottom: hidden;
    }
}
/* Navigation Bar Stop */

/* Scrollbox Start */
.scrollbox {
    overflow: scroll;
    z-index: 2;
    visibility: visible;
}

.scrollbox-inner {
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: visible;
}

::-webkit-scrollbar {
    z-index: 2;
    width: 2px;
    overflow: scroll;
}

::-webkit-scrollbar-thumb {
    z-index: 2;
    color: var(--lighter-grey);
    border-right: solid;
    border-radius: 10px;
}
/* Scrollbox Stop */

/* Homepage Content Start */
.homepage-content {
    border-radius: 15px;
    color: var(--white);
    display: flex;
    font-size: 18px;
    height: calc(100% - 110px);
    left: 10px;
    padding: 8px;
    position: relative;
    right: 20px;
    top: 118px;
    width: calc(100% - 20px);
    z-index: 1;
}

.homepage-content-notice {
    background-color: var(--dark-maroon);
    border-radius: 15px;
    border: dashed 2px var(--maroon);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: auto;
    left: 10px;
    padding: 8px;
    right: 20px;
    text-align: center;
    top: 118px;
    width: 100%;
    z-index: 1;

}
/* Homepage Content Stop */